<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Job Detail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <h3><a href='{% url "jobs_list" %}'>Home</a></h3>
        <h1>{{ jobs.title }}</h1>
        <h3>{{ jobs.description }}</h3>
        <h3>{{ jobs.salary }}</h3>
        
        <script src="" async defer></script>
    </body>
</html>